datasets==3.3.2
fastchat==0.1.0
huggingface_hub==0.29.2
matplotlib==3.10.1
numpy==2.2.4
openai==1.69.0
pandas==2.2.3
plotly==6.0.1
scikit_learn==1.6.1
tqdm==4.67.1
transformers==4.50.2
minisom==2.3.5
psutil==7.0.0
accelerate==1.5.2
jaxtyping==0.3.0
einops==0.8.1
ax-platform==0.4.0
transformers_stream_generator==0.0.5
seaborn==0.12.2
bitsandbytes
vllm
optuna 
torch